@font-face {
    font-family: 'Neue';
    src: local('Neue'), url('../assets/fontFiles/Neue-Regrade-Bold-BF65af35d84e111.otf') format('opentype');
}

@font-face {
    font-family: 'General-Sans-semibold';
    src: local('General-Sans'), url('../assets/fontFiles/GeneralSans-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'General-Sans';
    src: local('General-Sans'), url('../assets/fontFiles/GeneralSans-Regular.otf') format('opentype');
}